<div class="container">
    <div class="txtImg">
        <div class="txt">
            <h1>My Pets</h1>
            <h2>Lleva el registro y el control de tus mejores amigos!</h2>
            <h3>Regístrate y podrás:</h3>
            <ul>
                <li>Registrar a todas tus mascotas.</li>
                <li>Llevar un registro de todos sus datos.</li>
                <li>Mantener actualizado el estado de tus mejores amigos.</li>
            </ul>
        </div>
        <img src="../../assets/imgs/mascotass.png" alt="">
    </div>
    <div class="foot"></div>
</div>