<div class="bodyy">
    <div class="principal">
        <div class="container" id="log" @enterState>
            <div class="panel leftInit" id="lL">
                <h3>Registrate</h3>
                <span>Ingresa tu correo y tu contraseña</span>
                <form [formGroup]="frmAddUser" (ngSubmit)="onSubmit()" class="frmLogin">
                    <input type="text" formControlName="Name" id="Name" class="txtInput" placeholder="Nombre completo">
                    <input type="email" formControlName="email" id="email" class="txtInput" placeholder="Correo">
                    <input type="password" class="txtInput" placeholder="Contraseña">
                    <input type="password" formControlName="password" id="password" class="txtInput" placeholder="Repite tu contraseña">
                    <input type="text" formControlName="role" id="role" value="user" hidden="true">
                    <input type="submit" value="REGISTRARME">
                </form>
            </div>
            <div class="panel rightInit" id="rL">
                <h2>¿LISTO?</h2>
                <a>Prueba a iniciar sesión!</a>
                <button id="btnRegister" class="btn register" routerLink="/login">INICIAR SESIÓN</button>
            </div>
        </div>
    </div>
</div>