<div class="myPetConfig">
    <div class="pickPet">
        <img src="../../assets/imgs/perro.png" alt="">
    </div>
    <div class="dataPet">
        <form [formGroup]="frmEditPet" (ngSubmit)="onSubmit()" class="frmPet">
            <h5>Actualiza los datos de tu mejor amigo!</h5>
            <input type="text" value="{{pet.namePet}}" formControlName="namePet" name="" id="" class="txtInput" placeholder="Nombre de mi mascota">
            <input type="text" formControlName="raza" name="" id="" class="txtInput" placeholder="Raza de mi mascota">
            <input type="text" formControlName="state" name="" id="" class="txtInput" placeholder="Estado de mi mascota">
            <input type="text" formControlName="description" name="" id="" class="txtInput" placeholder="Descripción del estado...">
<!--            <label for="">Estado actual de mi mascota:</label>
            <select name="" id="" class="selectStyled">
                <option value="">SALUDABLE</option>
                <option value="">ENFERMO</option>
                <option value="">EN TRATAMIENTO</option>
            </select>-->

            <input type="submit" value="GUARDAR CAMBIOS">
        </form>
    </div>
    <div class="optionsPet">
        <button class="btnOP" routerLink="/user_profile/{{idUser}}">Volver a mi perfil</button>
        <button (click)="openModal()" class="btnOP Del">Eliminar mascota</button>
    </div>
</div>

<div *ngIf="modalSwitch == true">
    <app-eliminar-pet></app-eliminar-pet>
</div>
