<div class="cover">
    <div class="panels" @enterState>
        <div class="panel">
            <img src="../../assets/imgs/meo.png" alt="">
            <h3>Maynor Romeo<br>Lopez Melgar</h3>
            <span>Front-end Dev</span>
        </div>
        <div class="panel">
            <img src="../../assets/imgs/dyfre.png" alt="">
            <h3>Fredy Geovany<br>Avelar Díaz</h3>
            <span>Back-end Dev</span>
        </div>
        <div class="panel">
            <img src="../../assets/imgs/lexis.png" alt="">
            <h3>Edenilson Alexander<br>Guevara Alfaro</h3>
            <span>Back-end Dev</span>
        </div>
        <div class="panel">
            <img src="../../assets/imgs/tucan.png" alt="">
            <h3>Josue Antonio<br>Duran Estupinian</h3>
            <span>Front-end Dev</span>
        </div>
    </div>
</div>