<div class="bodyy">
    <div class="principal">
        <div class="container" id="log">
            <div class="panel leftInit" id="lL">
                <h3>Iniciar Sesión</h3>
                <span>Ingresa tu correo y tu contraseña</span>
                <form action="" class="frmLogin">
                    <input type="email" class="txtInput" placeholder="Email">
                    <input type="password" class="txtInput" placeholder="Password">
                    <input type="submit" value="INICIAR SESIÓN">
                </form>
            </div>
            <div class="panel rightInit" id="rL">
                <h2>BIENVENIDO!</h2>
                <a>Aún no estas registrado?</a>
                <button routerLink="/registro_usuario" class="btn register">REGISTRARME</button>
            </div>
        </div>
    </div>
</div>

