<div class="bodyy">
    <div class="principal">
        <div class="container" id="log">
            <div class="panel leftInit" id="lL">
                <h3>Sign In</h3>
                <span>Enter your email and password</span>
                <form action="" class="frmLogin">
                    <input type="email" class="txtInput" placeholder="Email">
                    <input type="password" class="txtInput" placeholder="Password">
                    <input type="submit" value="SIGN IN">
                </form>
                <div class="social">
                    <span>Or login with:</span>
                    <div class="socialOptions">
                        <a href=""><img src="../imgs/correo_C.png" alt=""></a>
                        <a href=""><img src="../imgs/fb_C.png" alt=""></a>
                        <a href=""><img src="../imgs/google-mas_C.png" alt=""></a>
                        <a href=""><img src="../imgs/linkedin_C.png" alt=""></a>
                    </div>
                </div>
            </div>
            <div class="panel rightInit" id="rL">
                <h2>WELCOME</h2>
                <a href="">Forgot password?</a>
                <button id="btnRegister" class="btn register">REGISTER</button>
            </div>
        </div>
    </div>
</div>

