<div class="bodyCover" @enterState>
    <div class="myInfo">
        <img src="../../assets/imgs/usuario.png" alt="" class="userPick">
        <div class="dataUser">
            <h3>{{usuario.Name}}</h3>
            <div>
                <span>{{usuario.email}}</span> <span>{{usuario.role}}</span>
            </div>
        </div>
        <div class="options">
            <span>Configuraciones:</span>
            <button routerLink="/edit_user/{{idUser}}" class="btn edit">Editar mi perfil</button>
            <button (click)="openModal()" class="btn delete">Eliminar mi perfil</button>
        </div>
    </div>
    <hr>
    <div class="myPets">
        <div class="petsContainer">
            <div class="cardPet" *ngFor="let mascota of mascotas">
                <button routerLink="/{{idUser}}/my_pet/{{mascota.id}}" class="optionsPet">
                    <img src="../../assets/imgs/edit.png" tittle="Editar info." alt="">
                </button>
                <img src="../../assets/imgs/perro.png" alt="">
                <h4>{{mascota.namePet}}</h4>
                <span class="raza">{{mascota.raza}}</span>
                <span class="age">{{mascota.description}}</span>
                <span hidden="true">{{mascota.id}}</span>
                <div>
                    <span>{{mascota.state}}</span>
                </div>
            </div>
<!--            <div class="cardPet">
                <button routerLink="/my_pet" class="optionsPet">
                    <img src="../../assets/imgs/edit.png" tittle="Editar info." alt="">
                </button>
                <img src="../../assets/imgs/perro.png" alt="">
                <h4>Kaos</h4>
                <span class="raza">Pitbull con labrador</span>
                <span class="age">6 meses</span>
                <div>
                    <span>SALUDABLE</span>
                </div>
            </div>-->
        </div>
        <div class="petsOptionsCrud">
            <button class="btnAddPet" routerLink="/add_pet/{{usuario.id}}">Agregar una nueva mascota</button>
        </div>
    </div>
</div>
<div *ngIf="modalSwitch == true">
    <app-eliminar-usuario></app-eliminar-usuario>
</div>
