<div class="bodyCover">
    <div class="myInfo">
        <img src="../../assets/imgs/usuario.png" alt="" class="userPick">
        <div class="dataUser">
            <h3>Jhon Doe</h3>
            <div>
                <span>some-email@something.dot</span> <span>21 años</span>
            </div>
        </div>
        <div class="options">
            <span>Configuraciones:</span>
            <button class="btn edit">Editar mi perfil</button>
            <button class="btn delete">Eliminar mi perfil</button>
        </div>
    </div>
    <hr>
    <div class="myPets">
        <div class="petsContainer">
            <div class="cardPet">
                <button routerLink="/my_pet" class="optionsPet">
                    <img src="../../assets/imgs/edit.png" tittle="Editar info." alt="">
                </button>
                <img src="../../assets/imgs/perro.png" alt="">
                <h4>Kaos</h4>
                <span class="raza">Pitbull con labrador</span>
                <span class="age">6 meses</span>
                <div>
                    <span>SALUDABLE</span>
                </div>
            </div>
            <div class="cardPet">
                <button routerLink="/my_pet" class="optionsPet">
                    <img src="../../assets/imgs/edit.png" tittle="Editar info." alt="">
                </button>
                <img src="../../assets/imgs/perro.png" alt="">
                <h4>Kaos</h4>
                <span class="raza">Pitbull con labrador</span>
                <span class="age">6 meses</span>
                <div>
                    <span>SALUDABLE</span>
                </div>
            </div>
            <div class="cardPet">
                <button routerLink="/my_pet" class="optionsPet">
                    <img src="../../assets/imgs/edit.png" tittle="Editar info." alt="">
                </button>
                <img src="../../assets/imgs/perro.png" alt="">
                <h4>Kaos</h4>
                <span class="raza">Pitbull con labrador</span>
                <span class="age">6 meses</span>
                <div>
                    <span>SALUDABLE</span>
                </div>
            </div>
            <div class="cardPet">
                <button routerLink="/my_pet" class="optionsPet">
                    <img src="../../assets/imgs/edit.png" tittle="Editar info." alt="">
                </button>
                <img src="../../assets/imgs/perro.png" alt="">
                <h4>Kaos</h4>
                <span class="raza">Pitbull con labrador</span>
                <span class="age">6 meses</span>
                <div>
                    <span>SALUDABLE</span>
                </div>
            </div>
            <div class="cardPet">
                <button routerLink="/my_pet" class="optionsPet">
                    <img src="../../assets/imgs/edit.png" tittle="Editar info." alt="">
                </button>
                <img src="../../assets/imgs/perro.png" alt="">
                <h4>Kaos</h4>
                <span class="raza">Pitbull con labrador</span>
                <span class="age">6 meses</span>
                <div>
                    <span>SALUDABLE</span>
                </div>
            </div>
            <div class="cardPet">
                <button routerLink="/my_pet" class="optionsPet">
                    <img src="../../assets/imgs/edit.png" tittle="Editar info." alt="">
                </button>
                <img src="../../assets/imgs/perro.png" alt="">
                <h4>Kaos</h4>
                <span class="raza">Pitbull con labrador</span>
                <span class="age">6 meses</span>
                <div>
                    <span>SALUDABLE</span>
                </div>
            </div>
        </div>
        <div class="petsOptionsCrud">
            <button class="btnAddPet" routerLink="/add_pet">Agregar una nueva mascota</button>
        </div>
    </div>
</div>
